# Build directories
/build/
/bin/
/out/
cmake-build-debug/
cmake-build-release/

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
